body{
    margin:20px;
    display:flex;
    align-items: center;
    height:90vh;
}

.home-div{
    margin:auto;
    border: black double 10px;
    align-items: center;
    padding:10px;
    border-radius:20px;
    display:flex;
    flex-flow:column nowrap;
    width:fit-content;
}

button{
    margin:5px;
    border-radius:10px;
    padding:10px;
    background-color:darkblue;
    max-width:150px;
}
button:hover{
    background-color:rgb(0, 0, 57);
    color:white;
}

a,a:visited,button{
    color:aliceblue;
    text-decoration: none;
    font-weight: bold;
}
div, form{
    margin:auto;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
}