/* 
potential color set:
#125454
#259789 
#8B4513
#D2B48C
#F2F2F2
#1C1C1C
#B22222
#8B8C7A
*/
body {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 90vh;
    background-color: #1C1C1C;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.home-div {
    margin: auto;
    border: #F2F2F2 ridge 10px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    background-color:#D2B48C;
}

button {
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: #125454;
    max-width: 150px;

    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

button:hover {
    background-color:#259789 ;
    /* rgb(0, 0, 57) */
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px 5px #1C1C1C;
}

a,
a:visited,
button {
    color: aliceblue;
    text-decoration: none;
    /* font-weight: bold; */
    font-size:1.2em;
}

form button{
    padding:5px 10px;
}
p{
    font-size:1.4em;
}

div,
form {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}