body {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 90vh;
    background-color: #1C1C1C;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.home-div {
    margin: auto;
    border: #F2F2F2 double 10px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    background-color: #C2B280;
}

button {
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: darkblue;
    max-width: 150px;

    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

button:hover {
    background-color: rgb(0, 0, 57);
    color: white;
    cursor: pointer;
}

a,
a:visited,
button {
    color: aliceblue;
    text-decoration: none;
    /* font-weight: bold; */
    font-size:1.2em;
}
p{
    font-size:1.4em;
}

div,
form {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}